@model ContatoModel

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Remover Contato</h2>
    </div>

    <form method="post" asp-action="DeletarContato">
        <input asp-for="Id" hidden />
        <partial name="_formContato" for="@Model" />
        <button type="submit" class="btn btn-lg btn-danger p-2"><i class="bi bi-trash-fill"></i>Remover</button>
        <a asp-controller="Contato" asp-action="Index" class="btn btn-lg btn-secondary p-2">Voltar</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}