@model ContatoModel

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Remover Contato</h2>
    </div>

    <form method="post" asp-action="DeletarContato">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Nome">Nome</label>
                <input type="text" class="form-control mb-3" asp-for="Nome" placeholder="Nome" disabled>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Telefone">Telefone</label>
                <input type="text" class="form-control mb-3" asp-for="Telefone" placeholder="Telefone" disabled>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Celular">Celular</label>
                <input type="text" class="form-control mb-3" asp-for="Celular" placeholder="Celular" disabled>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control mb-3" asp-for="Email" placeholder="Email" disabled>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label asp-for="DataNascimento">Data Nascimento</label>
                <input type="datetime-local" class="form-control" asp-for="DataNascimento" disabled>                
            </div>
        </div>


        <button type="submit" class="btn btn-lg btn-danger p-2"><i class="bi bi-trash-fill"></i>Remover</button>
        <a asp-controller="Contato" asp-action="Index" class="btn btn-lg btn-warning p-2">Voltar</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}